/* Fonts */
@font-face {
  font-family: neuro;
  src: url('../fonts/neuropol.ttf');
}

/* Animation */
@keyframes zoom {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

@-webkit-keyframes zoom {
  from { -webkit-transform: scale(0); }
  to { -webkit-transform: scale(1); }
}

/* General */
* { margin: 0; padding: 0; }

a { text-decoration: none; }

html, body { width: 100%; height: 100%; }

body {
  font-family: 'Open Sans', arial;
  /*background-color: #171717;*/
  background: url('../images/pattern.png') fixed;
}

/* Header */
header {
  position: fixed;
  top: 0; left: 0;
  width: 20%; height: 100%;
  display: flex;
  flex-direction: column; justify-content: space-between; align-items: center;
  border-right: 1px solid #09713A;
  z-index: 1;
}

#mobile-header, #bars { display: none; }

/* Top */
#top {
  width: 100%;
  margin-top: 10%;
  text-align: center;
}

#top h1, #top h3 {
  font-weight: normal;
  color: #ddd;
  text-shadow: 0 0 15px #09713A;
  text-align: center;
}

#top img { width: 50%; height: auto; }

/* Nav */
nav {
  width: 100%;
  display: flex;
  flex-direction: column;
}

nav a {
  position: relative;
  left: 0;
  width: auto;
  height: 3em;
  margin-bottom: 10%;
  padding-left: 5px;
  display: flex;
  flex-direction: row; align-items: center; justify-content: space-between;
  font-family: neuro;
  text-transform: uppercase;
  color: #14FF82;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

nav a i {
  color: transparent;
  transition: all 0.2s ease-out;
}

nav a:hover { border-color: #14FF82; }

nav a:hover i {
  display: inline;
  margin-right: 15px;
  color: #14FF82;
}

/* Bottom */
#bottom {
  width: 100%;
  display: flex;
  flex-direction: row; justify-content: space-around;
  margin-bottom: 10%;
}

#bottom a {
  width: 20%;
  padding: 5px;
  text-align: center;
  color: #ddd;
  transition: all 0.2s ease-out;
}

#bottom a:hover {
  background-color: #14FF82;
}

/* Section */
section {
  float: right;
  width: 70%; height: 100%;
  padding: 5% 5% 0 0;
}

hr {
  height: 1px;
  border: 0;
  background: linear-gradient(to right, rgba(20, 255, 130, 0), rgba(20, 255, 130, 1), rgba(20, 255, 130, 0));
}

/* Articles (container) */

article {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
}

article h3 {
  margin-bottom: 5%;
  padding: 1% 0;
  color: #ddd;
  font-family: neuro;
  font-weight: normal;
  font-size: 2em;
  text-align: center;
}

.main {
  width: 100%;
}

/* Articles (content) */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content:nth-child(2n) {
  margin: 0 5px 0 5px;
}

.content {
  position: relative;
  width: 30%;
  display: flex;
  flex-direction: column; justify-content: center; align-items: center;
  font-size: 150%;
  color: #ddd;
  border: 1px solid #ddd;
  background-color: #171717;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.1s ease-out;
  cursor: pointer;
}

.content:hover {
  border: 1px solid #09713A;
}

.content img {
  width: 100%;
}

.title {
  position: absolute;
  bottom: 0;
  width: 100%; height: 100%;
  display: flex;
  flex-direction: column; justify-content: center; align-items: center;
  color: #ddd;
  background-color: rgba(23, 23, 23, .5);
  transition: all 0.1s ease-out;
}

.content:hover .title {
  color: transparent;
  background-color: transparent;
}

/* Footer */
footer {
  display: flex;
  flex-direction: row; justify-content: space-between;
}

footer div { width: 50%; padding-bottom: 5%; }

footer h3 {
  padding: 5% 0;
  font-family: neuro;
  font-size: 2em;
  font-weight: normal;
  color: #ddd;
  text-align: center;
}

.text {
  width: 80%;
  margin: auto;
  color: #ddd;
  text-align: justify;
}

.text p { margin-bottom: 5%; }

.text a { color: #14FF82; text-decoration: underline; }

#about {
  border-right: 1px solid #14ff82;
}

/* Modal */
#modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  display: none;
  flex-direction: column; justify-content: space-between; align-items: center;
  background-color: rgba(23, 23, 23, 1);
  z-index: 2;
}

#close {
  position: absolute;
  top: 0; right: 0;
  margin: 25px;
  color: #ddd;
  cursor: pointer;
  transition: color 0.3s ease-out;
}

#close:hover { color: #14ff82; }

#modal-img {
  margin: auto;
  width: 90%;
  border: 1px solid #ddd;
}

#caption {
  margin: auto;
  font-size: 150%;
  text-align: center;
  color: #ddd;
}

#modal {
  animation-name: zoom;
  animation-duration: 0.6s;
}

/* Queries */
@media screen and (max-width: 1024px) {

  * { font-size: 90%; }

  header {
    width: 0; height: 100%;
    background: url('../images/pattern.png') fixed;
    overflow: hidden;
    transition: width 0.3s ease-out;
  }

  #top { font-size: 150%; }

  nav a { text-align: center; }

  #bars {
    position: fixed;
    top: 0; left: 0;
    padding: 15px;
    display: block;
    color: #14ff82;
  }

  #mobile-header {
    margin-bottom: 5%;
    display: block;
  }

  #mobile-header h1, #mobile-header h3 {
    font-family: neuro;
    font-weight: normal;
    text-align: center;
    color: #ddd;
  }

  #mobile-header h1 {
    margin-top: 5%;
    font-size: 150%;
  }

  #mobile-header hr {
    margin-top: 5%;
  }

  section {
    padding: 0;
    width: 100%;
    float: none;
  }

  .container {
    justify-content: center;
  }

  .text { font-size: 120%; }

  #modal { justify-content: center; }

  #modal-img, #caption { margin: 0; }

}
