/* Fonts */
@font-face {
  font-family: neuro;
  src: url('../fonts/neuropol.ttf');
}

/* General */
* { margin: 0; padding: 0; }

a { text-decoration: none; }

html, body { width: 100%; height: 100%; }

body {
  font-family: 'Open Sans', arial;
  background-color: #171717;
}

header, nav {
  border-top: 5px solid #09713a;
}

/* Header */
header {
  position: fixed;
  top: 0; left: 0;
  width: 20%; height: 100%;
  display: flex;
  flex-direction: column; justify-content: space-between; align-items: center;
  border-right: 1px solid #09713A;
}

/* Top */

#top {
  width: 100%;
  margin-top: 10%;
  text-align: center;
}

#top h1, #top h3 {
  font-weight: normal;
  color: #eee;
  text-shadow: 0 0 15px #09713A;
  text-align: center;
}

#top img { width: 50%; height: 50%; }

/* Middle */

#middle {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#middle a {
  position: relative;
  left: 0;
  width: 40%; height: 3em;
  margin-bottom: 5%;
  padding-left: 5%;
  display: flex;
  flex-direction: row; align-items: center;
  font-size: 120%;
  text-transform: uppercase;
  color: #14ff82;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

#middle a i {
  color: transparent;
  transition: all 0.2s ease-out;
}

#middle a:hover {
  width: 65%;
  border-bottom-color: #14FF82;
}

#middle a:hover i {
  display: inline;
  margin-left: 15px;
  color: #14FF82;
}

/* Bottom */

#bottom {
  width: 100%;
  display: flex;
  flex-direction: row; justify-content: space-around;
  margin-bottom: 10%;
}

#bottom a {
  font-size: 150%;
  color: #eee;
  transition: all 0.2s ease;
}

#bottom a:hover {
  text-shadow: 0 0 15px #14ff82;
}

/* Navigation */
nav {
  position: fixed;
  top: 0; right: 0;
  width: 80%; height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #09713A;
}

nav a {
  height: 100%;
  padding: 0 15px;
  display: flex; flex-direction: column; justify-content: center;
  font-family: neuro;
  font-size: 150%;
  color: #14FF82;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 5px solid transparent;
  transition: all 0.2s ease-out;
}

nav a:hover {
  background: linear-gradient(transparent, rgba(238, 238, 238, 0.1));
  border-bottom-color: #14FF82;
}

#bars-button {
  display: none;
}